venv
.idea
Pictures/1.jpg
__pycache__
Pictures/Test_dst.jpg
newfile.pdf
Pictures
Lectures
Scanned Pictures/*
!Scanned Pictures/.gitkeep
PicturesTmp/*
!PicturesTmp/.gitkeep
Pdfs/*
!Pdfs/.gitkeep
Text From Images/*
!Text From Images/.gitkeep